extends ../layout

block styles
  link(rel="stylesheet", href="/linker/stylesheets/chatroom.css")
  
block scripts
  script(type="text/javascript", src="/linker/javascripts/chatroom.js")
  script(type="text/javascript", src="/linker/javascripts/services/SailsSocket.js")
  script(type="text/javascript", src="/linker/javascripts/services/SailsSocketFactory.js")
  script(type="text/javascript", src="/linker/javascripts/controllers/MessageController.js")

block body
  .container(ng-app="chatroom")
    .row
      .col-md-5
        .panel.panel-primary(ng-controller="MessageController")
          
          .panel-heading
            span.glyphicon.glyphicon-comment
            |  Chat Room
            .btn-group.pull-right
              button.btn.btn-default.btn-xs(type="button")
                span.glyphicon.glyphicon-refresh
                |  Refresh
          .panel-body(scroll-bottom-on-message)
            ul.chat
              li.left.clearfix(ng-repeat="message in messages")
                span.chat-img.pull-left
                  img.img-circle(ng-src="http://placehold.it/40/55C1E7/fff&text={{message.nickname | limitTo:1}}", alt="{{message.nickname}}'s Avatar", title="{{message.nickname}}")
                .chat-body.clearfix
                  .header
                    strong.primary-font {{message.nickname}}
                    small.pull-right.text-muted
                      span.glyphicon.glyphicon-time
                      |  {{message.createdAt | date:'HH:mm'}}
                  p(style="color: {{message.color}}") {{message.text}}

          .panel-footer
            .input-group
              input.form-control.input-sm(type="text", placeholder="Type your message here...")
              span.input-group-btn
                button.btn.btn-warning.btn-sm Send
